.callout-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    font-size: 16px;
    /* float: center; */
    text-align: left;
  }
  
  .callout-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  } 
  
  .callout-box p {
    margin: 5px 0;
  }

  .reserve-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ff5a5f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  
  .reserve-button:hover {
    background-color: #ff787c;
  }

  /* Review Summary */
.review-summary {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .review-summary .star-icon {
    color: #ffa500; /* Gold for star */
    margin-right: 10px;
  }
  
  /* Reviews Section */
  .reviews-section {
    margin-top: 40px;
  }

  /* Centered Dot Styling */
.dot {
    margin: 0 8px;
    font-size: 50px;
    color: red;
    vertical-align: middle;
  }