/* General Page Styling */

.spot-link {
  text-decoration: none;
}

.spots-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.spots-page h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

/* Spots Grid */
.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;

}

/* Spot Tile */
.spot-tile {
  position: relative; /* Enables positioning for the tooltip */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.spot-tile:hover {
  transform: scale(1.02); /* Subtle zoom effect */
}

/* Tooltip Styling */
.spot-tooltip {
  visibility: hidden; /*Initially hidden*/
  position: absolute;
}

.spot-tile:hover + .spot-tooltip {
  visibility: visible;
  display:block;
  color: red;
}

/* Spot Image */
.spot-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Spot Description */
#spot-tile-description {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.spot-tile h3 {
  font-size: 14px;
  color: #333;
  margin: 12px 0 0 0;
}

/* Spot Price */
#price {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 10px;
}

/* Star Rating */
.star-rating {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.star-icon {
  margin-right: 5px;
}