/* Overall modal container styling */
.review-form-modal {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
  }

  /* How was your stay */
.review-form-modal h2 {
    text-align: center;
    padding: 0 0 25px 0px;
    font-size: 20px;
    font-weight: bold;
}

  
/* Error messages */
.server-error,
.field-error {
  color: #d9534f;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}
  
/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
  
/* Textarea for comments */
textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
  
/* textarea:focus {
  border-color: #696969;
  outline: none;
  box-shadow: 0 0 5px #696969;
} */
  
/* Star rating container */
.star-rating {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: space-around;
  gap: 0px;
}

.star-rating h3 {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin: 18px 30px 0 0;
}
  
/* Stars */
.stars {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin: 15px 0 0 30px;
  padding: 0;
  font-size: 30px;
  color: #ccc;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating input[type="radio"]:checked ~ .star {
  color: #ffcc00;
}

.star-rating input[type="radio"]:checked + .star,
.star:hover {
  color: #ffcc00;
}


  

  
/* Submit button */
button[type="submit"] {
  width: 100%;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #FEFAE0;
  background-color: #D4A373;
  border-color: none;;
  cursor: pointer;
  box-shadow: 1px 2px 2px 2px #202020;
  line-height: 10px;
  margin: 0;
}

button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button[type="submit"]:hover:enabled {
  transform: scale(1.02)
}

/* how to ensure the form content size adjusts per screen size? below does not cut it */
/* Responsive design */
@media (max-width: 600px) {
  .review-form-modal {
    padding: 15px;
  }

  textarea {
    height: 80px;
  }

  .stars {
    gap: 5px;
  }
} 