/* Questions */
/* 1. how to make Log In width adjustable? */
.login-modal-container h1 {
    text-align: center;
    margin: 10px 50px 50px;
    font-size: 30px;
    max-width: 90%;
}

.login-modal-container {
    padding: 20px;
    width: 400px;
    max-width: 90%; 
    margin: auto;
    background-color: white;
    border: 3px solid #ccc; 
    border-radius: 15px; 
}

/* Title Styling */
.login-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Form and Label Styling */
.login-form {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  gap: 15px;
}


/* Input Field Styling */
.form-input {
  width: 95%;
  height: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* .form-input:focus {
  border-color: #007bff;
  outline: none;
} */

.input-error {
  border-color: red;
}

/* Error Message Styling */
.error-message {
  font-size: 12px;
  color: red;
  margin-top: 2px;
}

/* Button Styling */
#submit-button-log-in {
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 105% !important;
  /* border: black solid 2px; */
  box-shadow: 5px 5px 5px black !important;
  border-radius: 5px;
  cursor: pointer;
}

#submit-button-log-in:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#submit-button-log-in:not(:disabled):hover {
  transform: scale(1.01)
}

/* demo user button styling */
#demo-user-button {
  background-color: #FEFAE0;
  color: #D4A373;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 105%;
}

#demo-user-button:hover {
  transform: scale(1.01);
}

#error-credential-log-in {
  font-size: 12px;
  color: red;
  padding: 0 0 5px 0;
}
